.footer-continer
  .footer
    .footer__title
      %p Recommend Items!
  .contents
    .slide
      =image_tag '1.jpg', size: "150x150", alt: "1"
    .slide
      =image_tag '2.jpg', size: "150x150", alt: "2"
    .slide
      =image_tag '3.jpg', size: "150x150", alt: "3"
    .slide
      =image_tag '4.jpg', size: "150x150", alt: "4"
    .slide
      =image_tag '5.jpg', size: "150x150", alt: "5"
    .slide
      =image_tag '6.jpg', size: "150x150", alt: "6"
    .slide
      =image_tag '7.jpg', size: "150x150", alt: "7"
    .slide
      =image_tag '8.jpg', size: "150x150", alt: "8"
    .slide
      =image_tag '9.jpg', size: "150x150", alt: "9"

  
