.user-nav{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 1;

  .header{
    width: 200px;
    height: 60px;
    padding: 10px;
    background-color: white;
    float: left;
    border-bottom:double 3px  #405491;
    position: fixed;
    
  }

  .nav{
    height: 60px;
    padding: 10px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    border-bottom:double 3px  #405491;
    align-items: center;
    &__user-imeage{
      padding: 10px;
      height: 60px;
    }
    &__outer{
      height: 40px;
      width: 40px;
      margin-right: 12px;
      cursor: pointer;
      cursor: hand;
      
    }
    &__tops{
      height: 40px;
      width: 40px;
      margin-right: 5px;
      cursor: pointer;
      cursor: hand;
    }
    &__bottoms{
      height: 40px;
      width: 40px;
      margin-right: 10px;
      cursor: pointer;
      cursor: hand;
    }
    &__post{
      height: 40px;
      width: 40px;
      margin-right: 15px;
      cursor: pointer;
      cursor: hand;
    }
    &__edit{
      height: 40px;
      width: 40px;
      margin-right: 10px;
      font-size: 35px;
       a{
         color: #293760;
         text-decoration: none;
         cursor: pointer;
         cursor: hand;
      }
    }
    &__config{
      height: 40px;
      width: 40px;
      margin-right: 15px;
      font-size: 35px;
      a{
        color: #293760;
        text-decoration: none;
        cursor: pointer;
        cursor: hand;
     }
    }
    &__logout{
      height: 40px;
      width: 40px;
      margin-right: 15px;
      font-size: 35px;
      a{
        color: #293760;
        text-decoration: none;
        cursor: pointer;
        cursor: hand;
     }
    }
 }
}